*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 1rem;
    background-color: darkturquoise;
}

img{
    width: 100%;
}

.characters{
    display: grid;
    max-width: 100vh;
    margin: 2rem auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.character{
    background-color:  rgb(2, 191, 194);
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.55);

    gap: 1rem;
    max-width: 800px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.character__head{
    padding: 1rem;
    border-radius: 1rem;
}

.character__body{
    padding: 1rem;
    grid-template-columns: repeat(6, 1fr);
}

.status{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.Alive{
    background-color: green;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.unknown{
    background-color: black;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.Dead{
    background-color: red;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}